.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
h1{
  color:white
}
.App-header {
  background-color: #00272B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(104, 105, 104, 0.01);
  /* Translucent background */
  backdrop-filter: blur(10px);
  /* Blurred glass effect */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  /* Shadow for depth */
  z-index: 1000;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar-links li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #00272B;
  /* White text */
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: #00bcd4;
  /* Change text color on hover */
}

p:hover {
  color: white;
  font-weight: 800;
  font-size: larger;

}

p:active {
  color: white;
  font-weight: 800;
  font-size: medium;

}

#outputBox {
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s ease;
}

#outputBox.open {
  transform: scaleY(1);
  /* Scale Y to 1 when open */
}

.form-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.input-field {
  flex-grow: 7;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}

.submit-button {
  flex-grow: 3;
  padding: 10px;
  background-color: #006E78;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  /* Width of the scrollbar */
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(221, 228, 221, 0.1);
  /* Background color of the scrollbar track */
  border-radius: 10px;
  /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: #027480;;
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #027480;
  /* Color of the scrollbar thumb on hover */
}

#sidePanel{
 min-width: 70%;
 min-height: 40%;
 /* background-color: #00bcd4; */
 border-radius: 0.2rem;
 /* border: 1.5px dashed #14DCD2; */
 color:white;
 display: flex;
 flex-direction: column;
 align-items: center;
 /* justify-content:center; */
 font-size: small;
 background-color: #06859378;
}
.copy{
  border: 1px #00bcd4 solid;
  border-radius: 0.3rem;
  padding: 1px;
  padding-inline: 8px;
}
.copy:active{
  border: 4px #00bcd4 solid;
  border-radius: 0.3rem;
  
}
.tooltip{
  max-width: 30vw;
}

.checkbox input[type="checkbox"] {
  display: none;
}
.checkbox input[type="checkbox"]:checked + .wrapper {
  background-color: #00272B;
}
.checkbox input[type="checkbox"]:checked + .wrapper .knob {
  left: 20px;
}
.checkbox .wrapper {
  background-color: darkgray;
  border: 1px solid #666;
  border-radius: 10px;
  width: 42px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  outline: none;
}
.checkbox .knob {
  background-color: white;
  border: 1px solid #666;
  border-radius: 100%;
  display: inline-block;
  margin-left: 2px;
  position: relative;
  width: 16px;
  height: 16px;
  left: 0;
  transition: left 100ms ease-in-out 0s;
}
.flexCustom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
.loaderDiv{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}